@use '../../assets/style/variables' as v;

.navItem {
    display: flex;
    gap: 4px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    & .navItem__text {
        font-weight: bold;
        color: v.$primary-color;
    }
}