@use '../../assets/style/variables' as v;

.button {
    padding: 8px;
    font-size: v.$size-button;
    font-weight: bold;
    background-color: v.$secondary-color;
    border-color: v.$secondary-color;
    color: v.$terciary-color;
    cursor: pointer;
}

.button-submit {
    width: 100%;
    border: none;
    text-decoration: underline;
}

.button-default {
    font-size: v.$size-button; 
}