.home__content {
    background-color: #fff;

    & .feature {
        display: flex;
        flex-basis: 33%;

        @media (max-width: 920px) {
            flex-direction: column;
        }
    }
}