@use '../../assets/style/variables' as v;

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    & label {
        font-weight: bold;
    }

    & input {
        padding: 5px;
        font-size: v.$size20;
    }
}

.input-remember {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 5px;
    margin-bottom: 1rem;
}