@use '../../assets/style/variables' as v;

.menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #fff;

    & .menu__logo {
        width: 200px;
    }

    & .menu__nav {
        display: flex;
        gap : 12px;
        color: v.$primary-color;
       margin-right: 0.5rem;

    }
}
