@use '../../assets/style/variables' as v;

.transaction__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
    text-align: left;
    margin-bottom: 2rem;

    @media (max-width: 720px) {
            flex-direction: column;
            align-items: flex-start;
        }

    & button {
        width: 200px;
        margin-top: 1rem;

        @media (max-width: 720px) {
            width: 100%;
        }
    }
    
    & .transaction__content {
        color: v.$primary-color;
        

        & .transaction__content--amount {
            font-weight: bold;
            font-size: v.$size40;
        }
    }
}