//COLORS//  
$primary-color:#2c3e50;
$secondary-color:#00bc77;
$terciary-color:#fff;
$background-color: #12002b;

//TYPOGRAPHY//
$size-smallbutton:0.8rem;
$size-button:1.1rem;
$size14:0.9rem;
$size16:1rem;
$size20:1.25rem;
$size24:1.5rem;
$size32:2rem;
$size40:2.5rem

